<div class="col-xs-12 col-md-6 f-menu-item">
  <div class="f-preview-container">
    <img class="f-preview" src="<%= menu_item.preview_url %>">
  </div>
  <div class="f-details">
    <div>
      <h3 class="f-label"><%= menu_item.label %></h3>
      <p>￥<span class="f-price"><%= menu_item.price %></span><span>已购：</span><span class="badge f-order-count">0</span></p>
    </div>
    <div class="btn-group" style="margin-top:-5px">
      <button type="button" class="btn btn-info f-action-order" value="<%= menu_item.id %>">
        <span class="glyphicon glyphicon-shopping-cart"> 订购</span></button>
      <button type="button" class="btn btn-default f-action-remove" value="<%= menu_item.id %>">
        <span class="glyphicon glyphicon-remove text-warning"></span></button>
    </div>
  </div>
</div>