<% content_for :head do %>
  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag params[:controller] %>
<% end %>

<% content_for :nav_links do %>
  <li class="active"><a href="#">今日订单</a></li>
  <li><a href="#about">已完成订单</a></li>
  <li><a href="#contact">废弃订单</a></li>
<% end %>

<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>姓名</th>
      <th>手机</th>
      <th>标签</th>
      <th class="o-op-col">#</th>
    </tr>
    </thead>
    <tbody id="i-all-orders">
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.realname %></td>
        <td><%= order.tel %></td>
        <td><%= order.status_human %></td>
        <td class="o-op-col"><input type="hidden" value="<%= order.id %>"></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>